<footer>

    <div>
        <a href="">CGU</a>
    </div>
    <div>
        <a href="">Politique de confidentialité</a>
    </div>
    <div>
        <a href="">Auteur du site @Portfolio/LinkedIn</a>
    </div>

</footer>
