{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}


    <h1>Profil de {{ profile.username }}</h1>

    <h2>Tous les Posts</h2>
    <div>
        {% for post in userPosts %}

            {% include '_partials/_post.html.twig'%}
        {% endfor %}
    </div>
    <h2>Tous les Commentaires</h2>
    <div>
        {% for post in userComments %}
            {% include '_partials/_post.html.twig' with {
                'message': post,
            } %}
        {% endfor %}
    </div>

{% endblock %}
