{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}



    {% if searchQuery %}
        <h1>Recherche</h1>
        <div class="recherche-resultat">
            <p>Résultat de votre recherche: <strong> " {{ searchQuery }} " </strong></p>
        </div>
    {% else %}
        <h1>Fil d'actualité</h1>
    {% endif %}


    {% for post in lastPost %}
    <div class="post-container">
        {% include '_partials/_post.html.twig' %}
    </div>
    {% endfor %}
{% endblock %}
