{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <h1> {{ category.name }} </h1>

    <div class="post-container">
        {% for post in category.messages %}

            {% include '_partials/_post.html.twig' %}

        {% endfor %}
    </div>


{% endblock %}
