{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <h1> {{ category.name }} </h1>


        {% for post in category.messages %}
        <div class="post-container">
            {% include '_partials/_post.html.twig' %}
        </div>
        {% endfor %}



{% endblock %}
