.navbar {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-block:1rem;
}

button {
    border:none;
}

.header-left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.header-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu svg {
    width: 30px;
    height: 30px;
}

.logo img{
    max-width: 50px;
}

#recherche {
    max-width: 110px;
}

.rechercher button {
    display:none;
}

.utilisateur {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;

}

.utilisateur a {
    text-decoration: none;
    background-color: burlywood;
    border: none;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

.menu-open {
    position: absolute;
    background-color: burlywood;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.hidden {
    display: none;
}

.post {
    display: flex;
    flex-direction: column;
    margin:2rem;
    background-color:burlywood;
    border: none;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
}

.post-user {
    display: flex;
    justify-content: space-around;
}

.post h3 {
    text-align: center;
}

.post img {
    margin: auto;
    border-radius: 10px;
}

.post-top {
    display: flex;
    flex-direction: column;
    margin-inline:1rem;
}

.post p, .post h2 {
    text-align: center;
}

.post-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline:2rem;

}

.likes, .comment-number{
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.comments {
    background-color: cornflowerblue;
    padding: 2px;
    border-radius: 5px;
    margin: 0.5rem;
}
