header {
    position:sticky;
    top: 0;
    background-color: #1B2A41;
    border-radius:10px;
    margin-inline:8px;
}

.navbar {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-block:0.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border:none;
}

.header-left {
    display: flex;
    flex-direction: row;
    gap:12px;
    align-items: center;
    justify-content: center;
}

.header-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-middle h3{
    text-align: center;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu button {
    background: #E9ECF0;
}

.menu svg {
    width: 25px;
    height: 25px;
    @media screen and (width > 800px) {
        width: 35px;
        height: 35px;
    }
}

.logo img{
    width: 35px;
    height: 35px;
    color: #E9ECF0;
    border-radius: 10px;

    @media screen and (width > 800px) {
        width: 50px;
        height: 50px;
    }
}

#recherche {
    max-width: 100px;
    border-radius: 25px;
    border: none;
    @media screen and (width > 800px) {
        max-width: 200px;

    }
}

.rechercher button {
    display:none;
}

.recherche-resultat {
    margin-inline:1rem;
}

.utilisateur {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
}

.utilisateur a {
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

.menu-open {
    position: absolute;
    background-color: #1B2A41;
    border: 1px solid #fff2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #E9ECF0;
    list-style: none;
}


.hidden {
    display: none;
}

h1,
h2 {
    text-align: center;
}

.post {
    display: flex;
    flex-direction: column;
    margin-block:2rem;
    background-color:#1B2A41;
    border: none;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
}

.post-container {
    margin-inline:8px;
}

.post-user {
    display: flex;
    justify-content: space-between;
}

.response-debug {
    display: flex;
    align-items: center;
}

.post h3 {
    text-align: center;
}

.post img {
    margin: auto;
    border-radius: 10px;
}

.post button {
    background-color: #1B2A41;
    color: #E9ECF0;
}

.post a {
    background-color: #1B2A41;
    color: #5B8DB8;
}

.post-top {
    display: flex;
    flex-direction: column;
    margin-inline:1rem;
}

.post p, .post h2 {
    text-align: center;
}

.post-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline:2rem;

}

.likes, .comment-number{
    display: flex;
    align-items: center;
    gap:0.5rem;
}

a svg {
    color: white;
    height: 20px;
    width: 20px;

    @media screen and (width > 800px) {
        width: 30px;
        height: 30px;
    }
}

.bouton-dislike svg {
    height: 20px;
    width: 20px;
    @media screen and (width > 800px) {
        width: 30px;
        height: 30px;
    }
}

.bouton-like svg {
    height: 20px;
    width: 20px;
    @media screen and (width > 800px) {
        width: 30px;
        height: 30px;
    }
}


.comments {
    background-color: cornflowerblue;
    padding: 2px;
    border-radius: 5px;
    margin: 0.5rem;
}

.form-container {
    border: none;
    background-color: #1B2A41;
    border-radius: 5px;
    margin-inline: 8px;
    padding: 1rem;
}

.form-button {
    text-align: right;
    margin-top: 1rem;
}

.label {
    color: white;
    margin-top: 1rem;
}

.input input, textarea {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
