/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 800px;
    margin: auto;
    background-color: #0f0f0feb;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    color: 	#E9ECF0;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap:auto;
}

/* Add offset to separate 1px border with outline */
* {
    outline-offset: 1px;
}

/* Button toggle pointers */
button {
    cursor: pointer;
}

/* Button disabled state */
button:disabled {
    opacity: 0.7;
    pointer-events: none;
}

/* Less aggressive borders */
input,
button,
textarea,
select,
fieldset,
th,
td,
hr {
    border-radius: 3px;
}

/* Improved padding & margin on user action elements */
input,
select,
textarea {
    padding: 0.2rem;
}

ul,
ol {
    padding-inline-start: 1.6rem;
}

td, th {
    padding-block: 0.1rem;
    padding-inline: 0.1rem;
    border: solid 1px #888;
    color: white;
    padding: 0.4rem;
}

.navigation {
    color: white;
    text-align: center;
}

.tableau {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    text-align: center;
}


select:active,
button:active {
    background-color: light-dark(#2222, #fff2);
}
