
<div class="post-container">
    {% include '_partials/_post.html.twig' with {
        'post': post,
        'answer': true
    } %}
</div>

{% for comment in post.children %}
{#    {% include '_partials/_post.html.twig' with {#}
{#        'post': comment,#}
{#        'answer': true#}
{#    } %}#}
    {% include 'post/_item_message.html.twig' with {
        'post': comment,
        'answer': true
    } %}
{% endfor %}
