{% extends 'base.html.twig' %}

{% block title %}Hello ShowController!{% endblock %}

{% block body %}

    <div class="add-message hidden form-container">
        <h3>Commentez ce post</h3>
        {{ form_start(newMessageForm) }}
        <div class="label">
            {{ form_label(newMessageForm.content) }}
        </div>
        <div class="input">
            {{ form_widget(newMessageForm.content) }}
        </div>
        <div class="form-button">
            <button type="submit">Poster</button>
        </div>
        {{ form_end(newMessageForm) }}
    </div>


    {% include 'post/_item_message.html.twig' with  {
        'post': post,
        'answer': true
    } %}

{% endblock %}
