{% extends 'base.html.twig' %}

{% block title %}Hello ShowController!{% endblock %}

{% block body %}

    <div class="post-container">

        {% include '_partials/post.html.twig' %}
    </div>

    {% for comment in post.children %}
        {% include '_partials/post.html.twig' with {
            'post': comment
        } %}

    {% endfor %}

{% endblock %}
